* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
.mt_150 {
  margin-top: 150px;
}
.milad_section {
  max-width: 1440px;
}
.border_one_side_top {
  border-radius: 200px 0px 0px 0px;
}
.milad_parent_margin {
  margin-left: 200px;
}
.inverted_comma {
  margin-top: -13px;
}
.milad_para {
  max-width: 480px;
}
.letter_0-3 {
  letter-spacing: -0.03em;
}
.letter_03 {
  letter-spacing: 0.03em;
}
.letter_0-5 {
  letter-spacing: -0.05em;
}
.gray_hr {
  height: 1px;
  width: 70%;
  opacity: 0.15;
  background-color: #fff;
  margin: 16px 0;
}
.opacity_05 {
  opacity: 0.5;
}
.opacity_07 {
  opacity: 0.7;
}
.attorney_text {
  letter-spacing: -0.03em;
}
.lh_100 {
  line-height: 100%;
}
.lh_160 {
  line-height: 160%;
}
.bio_button {
  cursor: pointer;
  max-width: 200px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.transition_03 {
  transition: all 0.3s ease-in-out;
}
.bio_button:hover {
  color: #fe6a5b !important;
  background: #000 !important;
  border: 1px solid #fe6a5b;
}
.founder_man_img {
  margin-top: -150px;
}
.founder_women_img {
  margin-top: -150px;
}
.Cheryl_para {
  max-width: 482px;
}
.Cheryl_main_parent {
  margin-left: 100px;
}
.social_icons:hover svg .hover_svg {
  fill: #757575;
}
.hover_svg {
  transition: all 0.3s ease-in-out;
}
.litigation_section {
  margin-top: -50px;
}
.litigation_main_parent {
  height: 1050px;
}
.litigation_section_margin {
  margin-top: 90px !important;
}
.peach_hr {
  width: 27px;
  background-color: var(--bittersweet);
  opacity: 1;
  height: 1px;
}
.litigation_section_img {
  margin-top: 150px;
  position: relative;
}
.hammer_img {
  width: 454px;
  position: absolute;
  top: 0px;
  height: 1041px;
  right: 20%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.anything_section {
  margin-top: -11px;
}
.anything_container {
  max-width: 900px;
}
.anything_second_para {
  max-width: 320px;
}
.contact_form {
  display: block;
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: #fff !important;
  font-weight: 600;
}
.contact_form_btn {
  border: 1px solid #fe6a5b;
  width: 100%;
  border-radius: 8px;
  height: 48px;
  background: #fe6a5b;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: inherit;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.contact_form_btn:hover {
  color: #fe6a5b !important;
  background: #000 !important;
  border: 1px solid #fe6a5b;
}
.anything_link_text_hover:hover {
  color: #e84a5f !important;
}
.anything_heading {
  max-width: 310px;
}
.footer_logo {
  width: 180px;
}
.footer_gray_hr {
  opacity: 0.25;
}
.social_icons_margin {
  margin-left: 200px;
}
footer a:hover svg path {
  fill: #4f4f4f;
}
.image_col {
  width: 25% !important;
}
.footer_link_col {
  width: 75% !important;
}
.pointer_event_none {
  pointer-events: none;
}
.max_w_1440 {
  max-width: 1440px;
  margin: 0 auto !important;
}
.footer_links_hover:hover {
  color: #fe6a5b !important;
}
@media (max-width: 1299.98px) {
  .milad_parent_margin {
    margin-left: 100px;
  }
  .founder_man_img {
    width: 500px;
    margin-top: -80px !important;
  }
  .founder_women_img {
    width: 500px;
    margin-top: 40px !important;
  }
  .Cheryl_main_parent {
    margin-left: 0;
  }
  .hammer_img {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .padding_xl_footer_col {
    padding: 0 50px !important;
  }
  .footer_logo {
    width: 115px;
  }
  .social_icons_margin {
    margin-left: 100px;
  }
}
@media (max-width: 1179.98px) {
  .image_col {
    width: 15% !important;
  }
  .footer_link_col {
    width: 85% !important;
  }
}
@media (max-width: 1023.98px) {
  .founder_women_img {
    margin-top: -80px !important;
  }
  .hammer_img {
    width: 100%;
    height: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 240px;
    right: 10%;
  }
}
@media (max-width: 991.98px) {
  .founder_man_img {
    width: 100%;
    max-width: 320px;
    margin-top: -300px !important;
  }
  .founder_women_img {
    width: 100%;
    max-width: 320px;
  }
  .founder_women_img {
    width: 500px;
    margin-top: -260px !important;
  }
  .Cheryl_main_parent {
    margin: 0 100px;
  }
  .image_col {
    width: 2% !important;
  }
  .footer_link_col {
    width: 98% !important;
  }
  .padding_xl_footer_col {
    padding: 0 20px !important;
  }
}
@media (max-width: 768.98px) {
  .founder_man_img {
    width: 320px !important;
    margin-top: -230px !important;
  }
  .milad_parent_margin {
    margin: 0 60px;
  }
  .Cheryl_main_parent {
    margin: 0 60px;
  }
  .founder_women_img {
    width: 350px;
    margin-top: -230px !important;
    margin-left: auto !important;
  }
  .border_one_side_top {
    border-radius: 88px 0px 0px 0px;
  }
  .anything_second_para {
    max-width: unset;
  }
  .hammer_img {
    width: 100%;
    height: 500px;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: 180px;
    right: 20%;
  }
  .anything_heading {
    max-width: unset;
  }
  .litigation_section_margin {
    margin-top: 80px !important;
  }
  .litigation_main_parent {
    height: 680px;
  }
  .social_icons_margin {
    margin-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .founder_man_img {
    width: 100% !important;
    margin-top: -200px !important;
    -o-object-fit: contain;
    object-fit: contain;
    height: 400px;
  }
  .milad_parent_margin {
    margin: 0 20px;
    padding-right: 20px;
  }
  .Cheryl_main_parent {
    margin: 0 20px;
  }
  .founder_women_img {
    height: 400px;
    margin-top: -200px !important;
    margin-left: auto;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: -60px;
  }
  .inverted_comma {
    width: 103px;
    height: 80px;
    margin-left: 25px;
  }
  .hammer_img {
    width: 100%;
    height: 371px;
    -o-object-fit: contain;
    object-fit: contain;
    position: absolute;
    top: -100px;
    right: -20%;
  }
  .litigation_main_parent {
    height: 920px;
  }
}
@media (max-width: 499.98px) {
  .founder_women_img {
    margin-top: 0px !important;
  }
  .founder_man_img {
    margin-top: 0px !important;
  }
}
