* {
  margin: 0;
  padding: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}
main {
  div {
    max-width: 1460px;

    .side_nav {
      .mobile-nav-icon {
        max-width: 30px;
        z-index: 110;
        position: relative;
      }
      .menu_icon {
        width: 46px;
      }
      a {
        img {
          width: 180px;
          @media (max-width: 992px) {
            width: 110px;
          }
          @media (max-width: 992px) {
            width: 70px;
          }
        }
      }
      ul {
        @media (max-width: 767.9px) {
          position: fixed;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100vh;
          background: #000;
          justify-content: center;
          align-items: center;
          margin-top: 0 !important;
          opacity: 0;
          z-index: -10;
          transition: all 0.5s ease-in-out;
        }
        li {
          position: relative;
          transition: all 0.5s ease-in-out;
          @media (max-width: 767.9px) {
            transform: translateY(100px);
          }
          a {
            font-weight: 700;
            font-size: 16px;
            letter-spacing: -0.01em;
            color: #ffffff;
            opacity: 0.5;
            padding: 8px 0;
            display: block;
            transition: all 0.3s ease-in-out;
          }
          :hover {
            opacity: 100%;
          }
          :after {
            content: "";
            position: absolute;
            width: 0px;
            height: 1px;
            background-color: #fe6a5b;
            left: -40px;
            top: 50%;
            transition: all 0.3s ease-in-out;
          }
          :hover:after {
            width: 30px;
          }
        }
      }
    }
    .news_link {
      opacity: 1 !important;
    }
    .home_link a {
      opacity: 1 !important;
    }
    #news:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #fe6a5b;
      left: -40px;
      top: 50%;
      transition: all 0.3s ease-in-out;
    }
    .home_link:after {
      content: "";
      position: absolute;
      width: 30px;
      height: 1px;
      background-color: #fe6a5b;
      left: -40px;
      top: 50%;
      transition: all 0.3s ease-in-out;
    }

    .hero_section {
      min-height: 772px;
      max-height: 770px;
      height: 100vh;
      border-left: 1px solid #262626;
      .news_hero_section {
        min-height: 572px;
        max-height: 1000px;
        border-left: 1px solid #262626;
      }
      @media (max-width: 1240px) {
        min-height: 600px;
        max-height: 700px;
      }
      @media (max-width: 992px) {
        max-height: 600px;
      }
      @media (max-width: 767.9px) {
        max-height: 700px;
        min-height: 0;
        height: auto;
        border: 0;
        max-height: none;
      }
      @media (max-width: 575.9px) {
        padding-bottom: 250px;
      }
      h1 {
        line-height: 100%;
        letter-spacing: 0.3em;
        @media (max-width: 1240px) {
          max-width: 300px;
          line-height: 130%;
        }
        @media (max-width: 991.9px) {
          max-width: 200px;
          line-height: 130%;
        }
        @media (max-width: 575.9px) {
          max-width: none;
        }
      }
      h2 {
        line-height: 80%;
        margin-bottom: 96px;
        letter-spacing: -0.05em;
        @media (max-width: 575.9px) {
          line-height: 100%;
        }
      }
      .scroll_down {
        bottom: 0;
        left: 16px;
        animation: scroll_down 2s ease infinite alternate;
        img {
          transition: 0.3s ease all;
          border-radius: 30px;
        }
        :hover {
          box-shadow: 0px 0px 10px 0px white;
        }
        @media (max-width: 767.9px) {
          max-width: 40px;
          left: 0;
        }
      }
    }
  }
  @keyframes scroll_down {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 20px;
    }
  }
  .parthners {
    height: 89%;
    z-index: 1;
    @media (max-width: 1440px) {
      max-width: 42%;
      height: auto;
      max-height: 100%;
    }
    @media (max-width: 1240px) {
      max-width: 50%;
      height: auto;
      max-height: 100%;
    }
    @media (max-width: 575.9px) {
      max-width: 320px;
    }
  }
  .bf_bg_logo {
    // height: 100% !important;
    max-width: 30%;
    width: 100%;
    top: 0;
    z-index: 0;
    @media (max-width: 1440px) {
      max-width: 35%;
      top: auto;
      height: 100%;
      bottom: 0 !important;
    }
    @media (max-width: 1240px) {
      max-width: 38%;
      height: auto;
      bottom: 0 !important;
    }
    @media (max-width: 1140px) {
      max-width: 40%;
      height: auto;
      top: auto;
      bottom: 0 !important;
    }
    @media (max-width: 575.9px) {
      max-width: 500px;
      width: 250px;
      height: auto;
      bottom: 0 !important;
    }
  }
}
.parthners {
  height: 89%;
  z-index: 1;
  @media (max-width: 1440px) {
    max-width: 42%;
    height: auto;
    max-height: 100%;
  }
  @media (max-width: 1240px) {
    max-width: 50%;
    height: auto;
    max-height: 100%;
  }
  @media (max-width: 575.9px) {
    max-width: 320px;
  }
}
.bf_bg_logo {
  // height: 100% !important;
  max-width: 30%;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  @media (max-width: 1440px) {
    max-width: 35%;
    top: auto;
    bottom: 0 !important;
  }
  @media (max-width: 1240px) {
    max-width: 38%;
    height: auto;
    bottom: 0 !important;
  }
  @media (max-width: 1140px) {
    max-width: 40%;
    height: auto;
    top: auto;
    bottom: 0 !important;
  }
  @media (max-width: 575.9px) {
    max-width: 500px;
    width: 250px;
    height: auto;
    bottom: 0 !important;
  }
}
.showNav {
  opacity: 100% !important;
  z-index: 100 !important;
  left: 0 !important;
  li {
    transform: translate(0) !important;
  }
}
.cursor_pointer {
  cursor: pointer;
}
// Advise Client section
.custom_container {
  @media (min-width: 1240px) {
    max-width: 1140px !important;
  }
  .advise {
    padding-top: 70px;
    padding-bottom: 70px;
    letter-spacing: -0.05em;
    max-width: 870px;
    line-height: 100%;
  }
}
// Real Estate section
.real_estate {
  max-width: 1440px;
  border-radius: 0 0 231px 0;
  @media (max-width: 767.9px) {
    border-radius: 0 0 100px 0;
  }
  .estate_building {
    @media (max-width: 575.9px) {
      max-width: 300px;
    }
    img {
      object-position: bottom;
    }
  }
  .real_estate_deals {
    max-width: 556px;
  }
}
// Business & Corporate section
.corporate {
  max-width: 1440px;
  padding-top: 150px;
  @media (max-width: 767.9px) {
    padding-top: 70px;
  }
  .dollor {
    @media (max-width: 575.9px) {
      max-width: 300px;
    }
    img {
      object-position: bottom;
    }
  }
  .corporate_deals {
    max-width: 600px;
  }
}
// Construction
.construction {
  max-width: 1440px;
  @media (max-width: 767.9px) {
    padding-top: 70px;
  }
  .construction_crane {
    @media (max-width: 575.9px) {
      max-width: 300px;
    }
    img {
      object-position: bottom;
    }
  }
  .construction_deals {
    margin-top: 70px;
    @media (max-width: 767.9px) {
      margin-top: 0px;
    }
    div {
      max-width: 450px;
    }
  }
}
.we_deal_with {
  padding-left: 40px;
}
.forward_line:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 1px;
  background-color: #fe6a5b;
  left: 0;
  top: 50%;
}
@media (max-width: 767.9px) {
  .nav_mobile_scroll {
    overflow: hidden !important;
  }
}
