* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.AnythingYou_py {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}

.bg_black {
    background: #000;
}
