* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  text-decoration: none !important;
}

body {
  font-family: $font-family_1 !important;
}

.line_height_common {
  line-height: 113% !important;
}

.AnythingYou_py {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.font-opacity {
  opacity: 0.7 !important;
}
.main-container {
  max-width: 900px;
  margin: 0 auto;
}

.max_w_text {
  max-width: 334px;
}

.font_opacity {
  opacity: 0.7;
}

.max_w_pra {
  max-width: 320px;
}

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px;
}

.pra_py {
  padding-top: 24px;
  padding-bottom: 16px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mt_16 {
  margin-top: 16px;
}

.chng_clr_hover {
  color: #fff !important;
  transition: all 250ms linear;
  &:hover {
    transition: all 250ms linear;
    color: #e84a5f !important;
  }
}
.contact_form {
  display: block;
  font-family: "Roboto", sans-serif;
  width: 100% !important;
  font-size: var(--fs-sm);
  padding: 10px !important;
  line-height: 113%;
  font-weight: 400;
  height: 47px !important;
  border: 1px solid #fff !important;
  border-radius: 8px !important;
  background-color: transparent !important;
  color: #fff !important;
}
.background-white {
  background: #ffffff !important;
}       
.contact_form_height {
  height: 98px !important;
}
.font-opacity1 {
  opacity: 0.5 !important ;
}

.contact_form_btn {
  border: 1px solid #fe6a5b;
  width: 100%;
  border-radius: 8px;
  height: 48px;
  background: #fe6a5b;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: inherit;
  white-space: nowrap;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #fe6a5b !important;
    background: #000000 !important;
    border: 1px solid #fe6a5b;
  }
}
 footer a {
  color: #fff !important;
}
textarea {
  resize: vertical;
}
