* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
main {
  background: #000;
  display: flex;
}
main .side_nav {
  max-width: 223px;
  padding: 48px;
}
main .side_nav img {
  width: 132px;
}
main .side_nav ul {
  display: flex;
  margin-top: 48px;
  margin-left: 8px;
  flex-direction: column;
}
main .side_nav ul li {
  position: relative;
}
main .side_nav ul li a {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.5;
  padding: 8px 0;
  display: block;
}
main .side_nav ul li :after {
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background-color: #fe6a5b;
  left: -40px;
  top: 50%;
  transition: all 0.3s ease-in-out;
}
main .hero_section {
  min-height: 100vh;
  border-left: 1px solid #262626;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .hero_section h1 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 3rem !important;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 8px;
}
main .hero_section h2 {
  color: #fff;
  font-size: 144px;
  font-weight: 800;
  line-height: 100%;
}
main .hero_section h2 span {
  display: block;
}
main .hero_section h2 .advocate_text {
  color: #fe6a5b;
}
